{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Modification habilitations spécifiques</h1>
        </div>
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}