{% extends 'base.html.twig' %}

{% block content %}<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <div class="row">
            <h1>Habilitations mr005</h1>
            <div class="col-md-12">
                <a href="{{ path('app_valideur_mr005') }}" class="btn btn-primary">{{button_habilitation_mr005 | raw}}</a>
            </div>
            <h1>Autre habilitations</h1>
            <div class="col-md-12">
                <a href="{{ path('app_organisation_autorisation') }}" class="btn btn-primary">{{button_autre_habilitation | raw}}</a>
            </div>

        </div>
    </div>
{% endblock %}
