{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <h2>Une erreur est survenue:</h2>
    <code>
        {{ message | raw }}
    </code>
    <p>
        retourner à la page d'accueil <a href="/etablissement">Acceuil</a>
    </p>
    <p>
        retourner à la page de validation <a href="/valideur/mr005">Validation</a>
    </p>
    <p>
        retourner à la page d'habilitations <a href="/habilitation/">Habilitations</a>
    </p>
{% endblock %}